/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	/* display: block; */
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Tomorrow', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! ########################## */


.everything {
	margin: 0% 10%;
	display: flex;
  flex-direction: column;
}

header {
    height: 30%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
	width: 100%;
  height: 8%;
  padding: 4% 10%;
	position: fixed;
	z-index: 5;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}

a {
  color: gray;
  font-size: 14px;
	text-decoration: none;
}

.logo img {
  height: 35px;
}

.sectionOne {
	width: 100%;
	display: flex;
	justify-content: space-between;
  margin-top: 15%;
  padding-bottom: 5%;
}

.oneType {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 0px 10px;
}

 h1 {
	 color: black;
 	 font-size: 60px;
	 text-align: center;
 }

button {
	 display: flex;
	 font-size: 14px;
	 background-color: white;
	 color: black;
	 border: 1px solid black;
	 padding: 1% 15%;
	 align-self: center;
 }

.sectionTwo {
	display: flex;
	justify-content: space-between;
  padding-top: 5%;
}

.twoType {
	width: 46%;
}

.middle-img {
	width: 100%;
	padding: 2% 0;
}

 .sectionThree {
	display: flex;
	justify-content: space-between;
  padding: 2% 0 4% 0;
  border-bottom: 1px solid black;
}

.threeType {
	width: 30%;
}

.contact {
	font-size: 14px;
	margin-top: 5%;
}

footer {
	font-size: 12px;
	text-align: center;
	padding: 0 0 5% 0;
}

/* SERVICE PAGE STARTS HERE ------------------------------------------- */

.top {
	width 100%;
}

.services-header-img {
	width: 100%;
}

#services {
	font-size: 30px;
	text-align: left;
}

.smBoxes {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.sm-box {
	width: 48%;
	border: 1px solid black;
	background-color: #F7FBFD;
	margin: 13px 0;
	padding: 5px 15px;
}
 h2 {
	 margin: 13px 13px 13px 0px;
 }

p {
	margin: 13px 0px;
}

.sm-box button {
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 10px 10px;
	margin: 15px;
	width: 45%;
	border-radius:5px;
	font-size: 12px;
}

.bottom {
	display: flex;
	justify-content: space-between;
}

.smBox {
	width: 45%;
}

#servList {
	display: inline;
	color: black;
	line-height: 2;
	list-style-position: inside;
	list-style-type: square;
}

/* VISION PAGE STARTS HERE ----------------------------------------- */
.vision-smBoxes {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

.vision-bottom {
	display: flex;
}

.vision-sm-box {
	width: 20%;
}

/* TABLET VIEW ---------------------------------------------- */
@media (max-width: 800px) {

  .everything {
  	margin: 0% 5%;
  	display: flex;
    flex-direction: column;
  }

  header {
      height: 30%;
      display: flex;
      justify-content: space-around;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 10%;
    padding: 5% 0;
  	position: fixed;
  	z-index: 5;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  a {
    color: gray;
    font-size: 14px;
  	text-decoration: none;
    margin: 1%  0;
  }

  .logo img {
    height: 35px;
    margin: 10% 0;
  }

  .sectionOne {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: 1px solid black;
  }

  .oneType {
    width: 100%;
    align-content: center;
  }

  button {
  	 padding: 1% 10%;
   }

  .sectionOne img {
    display: none;
  }

/* TABLET SERVICE PAGE  ----------------------------- */
	.top {
		width 100%;
	}

	.services-header-img {
		width: 100%;
	}

	#services {
		font-size: 30px;
		text-align: left;
	}

	.smBoxes {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	.sm-box {
		width: 48%;
		border: 1px solid black;
		background-color: #F7FBFD;
		margin: 13px 0;
		padding: 5px 15px;
	}
	 h2 {
		 margin: 13px 13px 13px 0px;
	 }

	p {
		margin: 13px 0px;
	}

	.sm-box button {
		display: flex;
		align-self: center;
		justify-content: center;
		padding: 10px 10px;
		margin: 15px;
		width: 45%;
		border-radius:5px;
		font-size: 12px;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
	}

	.smBox {
		width: 45%;
	}

	#servList {
		display: inline;
		color: black;
		line-height: 2;
		list-style-position: inside;
		list-style-type: square;
	}

/* TABLET VISION PAGE ------------------------------ */

	.vision-smBoxes {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
		}

	.vision-bottom {
		display: flex;
	}

	.vision-sm-box {
		width: 45%;
	}
}
/* END TABLET VIEW -----------------------------------------*/


/* MOBILE VIEW -------------------------------------------- */
@media (max-width: 500px) {

  .everything {
    margin: 0 2%;
    display: flex;
    flex-direction: column;
  }

  header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 80%;
  }

  nav {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 50%;
    position: absolute;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  a {
    color: gray;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding: 3% 0;
    border-bottom: 1px solid gray;
    width: 100%;
  }

  .logo img {
    height: 35px;
    margin-top: 5%;
  }

  .sectionOne {
    display: flex;
    flex-direction: column;
    margin-top: 90%;
    border-bottom: 1px solid black;
  }

  .sectionOne img {
    display: none;
  }

  .sectionTwo {
  	display: flex;
    flex-direction:  column;
  	justify-content: space-between;
    align-items: center;
    padding-top: 5%;
  }

  .twoType {
  	width: 100%;
    padding: 10px;
  }

  .sectionThree {
  	display: flex;
    flex-direction: column;
  	justify-content: space-between;
    align-items: center;
    padding-top: 5%;
  }

  .threeType {
  	width: 100%;
    padding: 10px;
  }

/*  MOBILE SERVICE PAGE ------------------------------ */
	.top {
		width 100%;
	}

	.services-header-img {
		display: none;
	}

	#services {
		font-size: 30px;
		text-align: left;
	}

	.smBoxes {
		display: flex;
		justify-content: flex-start;
		flex-flow: column;
	}

	.sm-box {
		width: 100%;
		border: 1px solid black;
		background-color: #F7FBFD;
		margin: 13px 0;
		padding: 5px 15px;
	}
	 h2 {
		 margin: 13px 13px 13px 0px;
	 }

	p {
		margin: 13px 0px;
	}

	.sm-box button {
		display: flex;
		align-self: center;
		justify-content: center;
		padding: 10px 10px;
		margin: 15px;
		width: 45%;
		border-radius:5px;
		font-size: 12px;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
	}

	.smBox {
		width: 45%;
	}

	#servList {
		display: inline;
		color: black;
		line-height: 2;
		list-style-position: inside;
		list-style-type: square;
	}

/* MOBILE VISION PAGE ---------------------------- */

	.vision-smBoxes {
			display: flex;
			justify-content: space-between;
			flex-flow: column wrap;;
		}

	.vision-bottom {
		display: flex;
	}

	.vision-sm-box {
		width: 50%;
	}
}
